
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(58% 0.233 277.117);
  --primary-foreground:oklch(96% 0.018 272.314);
  --secondary:  oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent:  oklch(0.269 0 0);
  --accent-foreground: oklch(58% 0.233 277.117);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(58% 0.233 277.117);
  --chart-2: oklch(77% 0.152 181.912);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(58% 0.233 277.117);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --error: oklch(71% 0.194 13.428);
  --success:  oklch(76% 0.177 163.223);
  --info: oklch(74% 0.16 232.661);
  --warning: oklch(82% 0.189 84.429);
  --facebook: oklch(47.24% 0.108 263.58);
  --google: oklch(58.53% 0.205 25.25);
  --link: oklch(64.60% 0.142 253.92);
}
